
/* Typography
================================= */

h1 {
	font-weight: 200;
	margin-bottom: 30px;
}
h2, h3 {
	font-size: 1.25em;
	color: #5f5d60;
	margin-bottom: 16px;
	margin-top: 0;
}
p {
	color: #b3aeb5;
	line-height: 1.7;
	font-size: 1.1em;
	font-weight: 200;
}
strong {
	color: #5f5d60;
}
.navbar-text {
	font-weight: bold;
	margin-right: 0;
}
.lead {
	color: #d5c1f2;
	margin-bottom: 70px;
}
.lead:nth-of-type(2) {
	font-size: initial;
	margin-bottom: 20px;
}


/* Layout
================================= */

.ft {
	margin-bottom: 72px;
}
.ft-copy {
	padding-top: 32px;
}


/* Buttons
================================= */


.btn-default {
	border-width: 2px;
	border-color: inherit;
	margin-right: 10px;
	padding: 12px 22px;
}
.btn-default:hover {
	background-color: #fff;
	color: #957bba;
	border-color: #fff;
}


/* Jumbotron
================================= */

.jumbotron {
	background-image: url('../img/main-bg.png');
	background-repeat: no-repeat;
	background-position:  200% 100%;
	padding: 200px 0 140px 0;
	margin-bottom: 70px;
}
.device {
	width: 345px;
	height: 589px;
	background: url('../img/hero.png') no-repeat;
	border-radius: 10px;
}


/* Logos & Icons
================================= */

.main-logo {
	width: 124px;
	height: 34px;
	margin-top: 22px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url('../img/main-logo.png') no-repeat;
	background-size: 100%;
}
.ft-icon {
	width: 94%;
	height: 196px;
	position: relative;
	background: #8c73b0 url('../img/main-bg.png') no-repeat 270px -180px;
	background-size: 140%;
}
.ft-icon::before {
	content: "";
	display: block;
	position: absolute;
	width: 164px;
	height: 112px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: url('../img/feature-icons.png') no-repeat;
	background-size: 100%;
}
.statue::before {
	background-position: 0 -110px;
}
.people::before {
	background-position: 0 -217px;
}
.ft-icon.statue {
	background-position: -500px 0;
}
.ft-icon.people {
	background-position: 290px 0;
}

/* Media Queries
================================= */

@media (max-width: 100%) {
	.jumbotron {
		padding-top: 120px;
		padding-bottom: 20px;
		background-position: 10% 10%;
	}
	.ft-copy {
		padding-top: 12px;
	}
	.ft-copy p {
		width: auto;
	}
}
@media (max-width: 767px) {
	.navbar {
		min-height: 60px;
	}
	.main-logo {
		width: 82px;
		margin-top: 20px;
	}
	.jumbotron {
		padding-top: 80px;
		margin-bottom: 32px;
	}
	.lead {
		margin-bottom: 40px;
	}
	.ft {
		margin-bottom: 16px;
	}
}
@media (max-width: 100%) {
	.container {
		display: flex;
		margin: 10px auto;
	}

}
/*gallery*/
#gallery {
	width: 100%;
}





/*===Montage===
.am-wrapper{
	float:none;
	position:relative;
	overflow:hidden;
}
.am-wrapper img{
	position:absolute;
	outline:none;
}

/* General Demo Style
body{
	background:#fff;
	color:#fff;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-size:12px;
}
a{
	color:#fff;
	text-decoration:none;
}
.clr{
	clear:both;
}
h1, h5{
	font-size:40px;
	font-weight:normal;
	text-transform:uppercase;
	font-family:'Monoton', Arial, sans-serif;
	color:#fff;
	text-shadow:1px 1px 1px #000;
	word-spacing:10px;
	line-height: 40px;
	padding: 10px 5px 0px 0px;
}
h1 span, h5{
	font-size:18px;
	color:#c08763;
	font-family:Georgia, serif;
	font-style:italic;
	text-transform:none;
	word-spacing:0px;
	white-space: nowrap;
}
h2{
	font-family:Georgia, serif;
	font-style:italic;
	padding: 5px 10px 5px 5px;
	font-size:14px;
}
pre{
	padding:15px;
	white-space:pre-wrap;
}
/* Header Style
.header{
	height:25px;
	line-height:24px;
	font-size:13px;
	background:#000;
	opacity:0.9;
	text-transform:uppercase;
	z-index:4;
}
.header a{
	padding:5px 10px;
	letter-spacing:1px;
	text-shadow:1px 1px 1px #000;
	color:#ddd;
	text-align:right;
}
.header a:hover{
	color:#fff;
}
.header a span{
	font-weight:bold;
}
.header span.right_ab{
	position:absolute;
	right:4px;
}
.content{
	position:absolute;
	top: 75px;
	left:0px;
	width:40%;
	min-width:315px;
	z-index:100;
	display:none;
}
.inner{
	padding:10px;
	background:transparent url(../img/black.png) repeat top left;
}

.more ul{
	text-transform:uppercase;
	font-size:11px;
	padding:20px 15px 5px 5px;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	margin:0 auto;
}
.more ul li{
	display:inline;
	line-height:30px;
	margin:0px 2px;
	white-space:nowrap;
}
.more ul li:first-child{
	clear:both;
	float:none;
	display:block;
}
.more ul li.selected a,
.more ul li.selected a:hover{
	background:#f7f7f7;
	color:#000;
	text-shadow:none;
	white-space:nowrap;
}
.more ul li a{
	text-shadow:1px 1px 1px #000;
	color:#fff;
	background:#c08763;
	padding:3px 6px;
	-moz-box-shadow:1px 1px 2px #000;
	-webkit-box-shadow:1px 1px 2px #000;
	box-shadow:1px 1px 2px #000;
}
.more ul li a:hover{
	background:#fff;
	color:#000;
	text-shadow:none;
}
.snippet{
	padding:5px;
}
.snippet span{
	font-size:14px;
	cursor:pointer;

	padding: 2px 18px 2px 9px;
}
.snippet span.down{
	background: #000 url(../img/arrow.png) no-repeat 98% 50%;
}
.snippet span.up{
	background: #000 url(../img/arrow_up.png) no-repeat 98% 50%;
}
.snippet pre{
	display:none;
}
.panel{
	position:absolute;
	height:86px;
	width:20px;
	right:0px;
	top:10px;
	cursor:pointer;
}
.hide{
	background:transparent url(../img/hide.png) no-repeat center center;
}
.show{
	background:transparent url(../img/show.png) no-repeat center center;
}
.loadmore{
	display:none;
	width:700px;
	line-height:30px;
	text-transform:uppercase;
	background:#333;
	float:right;
	font-weight:bold;
	font-size:16px;
	text-align:center;
	cursor:pointer;
	text-shadow:1px 1px 1px #000;
}
.loadmore:hover{
	background:#000;
}
