
/* Typography
================================= */

h1 {
	font-weight: 200;
	margin-bottom: 30px;
}
h2, h3 {
	font-size: 1.25em;
	color: #5f5d60;
	margin-bottom: 16px;
	margin-top: 0;
}
p {
	color: #b3aeb5;
	line-height: 1.7;
	font-size: 1.1em;
	font-weight: 200;
}
strong {
	color: #5f5d60;
}
.navbar-text {
	font-weight: bold;
	margin-right: 0;
}
.lead {
	color: #d5c1f2;
	margin-bottom: 70px;
}
.lead:nth-of-type(2) {
	font-size: initial;
	margin-bottom: 20px;
}


/* Layout
================================= */

.ft {
	margin-bottom: 72px;
}
.ft-copy {
	padding-top: 32px;
}

.img-gallery {
	width: 25%; }

/* Buttons
================================= */


.btn-default {
	border-width: 2px;
	border-color: inherit;
	margin-right: 10px;
	padding: 12px 22px;
}
.btn-default:hover {
	background-color: #fff;
	color: #957bba;
	border-color: #fff;
}


/* Jumbotron
================================= */

.jumbotron {
	background-image: url('../img/main-bg.png');
	background-repeat: no-repeat;
	background-position:  200% 100%;
	padding: 200px 0 140px 0;
	margin-bottom: 70px;
}
.device {
	width: 345px;
	height: 589px;
	background: url('../img/hero.png') no-repeat;
	border-radius: 10px;
}


/* Logos & Icons
================================= */

.main-logo {
	width: 124px;
	height: 34px;
	margin-top: 22px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url('../img/main-logo.png') no-repeat;
	background-size: 100%;
}
.ft-icon {
	width: 94%;
	height: 196px;
	position: relative;
	background: #8c73b0 url('../img/main-bg.png') no-repeat 270px -180px;
	background-size: 140%;
}
.ft-icon::before {
	content: "";
	display: block;
	position: absolute;
	width: 164px;
	height: 112px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: url('../img/feature-icons.png') no-repeat;
	background-size: 100%;
}
.statue::before {
	background-position: 0 -110px;
}
.people::before {
	background-position: 0 -217px;
}
.ft-icon.statue {
	background-position: -500px 0;
}
.ft-icon.people {
	background-position: 290px 0;
}

/* Media Queries
================================= */

@media (max-width: 100%) {
	.jumbotron {
		padding-top: 120px;
		padding-bottom: 20px;
		background-position: 10% 10%;
	}
	.ft-copy {
		padding-top: 12px;
	}
	.ft-copy {
		width: auto;
	}
}
@media (max-width: 767px) {
	.navbar {
		min-height: 60px;
	}
	.main-logo {
		width: 82px;
		margin-top: 20px;
	}
	.jumbotron {
		padding-top: 80px;
		margin-bottom: 32px;
	}
	.lead {
		margin-bottom: 40px;
	}
	.ft {
		margin-bottom: 16px;
	}
}
@media (max-width: 100%) {
	.container {
		display: flex;
		margin: 0 auto;
	}

}
/*gallery*/
/*#gallery {
	width: 100%;
}*/


/*Masonry CSS only*/
.masonry { /* Masonry container */
    column-count: 4;
    column-gap: 1em;
}

.item { /* Masonry bricks */
    background-color: #eee;
    display: inline-block;
    margin: 1em, 1em, 1em, 1em;
    width: 95%;
}

/* body {
    font: 1em/1.67 'Open Sans', Arial, Sans-serif;
    margin: 0;
    background: #e9e9e9;
} */
.wrapper {
    width: 100%;
    margin: 3em auto;
}

.masonry {
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.item {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 80%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}


@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}

@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }
}
