.btn-default {
	border-width: 2px;
	border-color: inherit;
	margin-right: 10px;
	padding: 12px 22px;
}
.btn-default:hover {
	background-color: $color-text-light;
	color: $color-prim;
	border-color: $color-text-light;
}

.btn-warning {
	border-width: 2px;
	border-color: inherit;
	margin-right: 10px;
    margin-bottom: 10px;
	padding: 12px 22px;
	background-color: $color-prim;
	color: $color-text-light;
	border-color: $color-prim;
}
.btn-warning:hover {
	background-color: $color-ter;
	color: $color-text-light;
	border-color: $color-ter;
}