.ft-copy {
	padding-top: 32px;
}

.ft-copy p,
.copy-offset {
	width: 88%;
}

.lead {
	color: #d5c1f2;
	margin-bottom: 70px;
}
.lead:nth-of-type(2) {
	font-size: initial;
	margin-bottom: 20px;
}

.th-copy {
	padding-top: 30px;
}