h1 {
	font-weight: 300;
	margin-bottom: 30px;
}
h2, h3 {
    @include text(1.65em,$color: $color-text-base);
	margin-bottom: 10px;
	margin-top: 10px;
}
p {
    @include text(1.4em,1.5,200,$color-quad);
}
strong {
	font-weight: bold;
    color: $color-sec;
}

a {
  color: $color-sec;
}

.navbar-text {
	font-weight: bold;
	margin-right: 0;
}

.teacher-desc strong {
	display: block;
}