h1 {
	font-weight: 200;
	margin-bottom: 30px;
}
h2, h3 {
	font-size: 1.25em;
	color: #5f5d60;
	margin-bottom: 16px;
	margin-top: 0;
}
p {
	color: #b3aeb5;
	line-height: 1.7;
	font-size: 1.1em;
	font-weight: 200;
}
strong {
	color: #5f5d60;
}
.navbar-text {
	font-weight: bold;
	margin-right: 0;
}
.lead {
	color: #d5c1f2;
	margin-bottom: 70px;
}
.lead:nth-of-type(2) {
	font-size: initial;
	margin-bottom: 20px;
}

.ft-copy p,
.copy-offset {
	width: 88%;
}
.panel {
	background-image: url('../img/form-panel-bg.png');
	background-repeat: repeat-x;
	border-bottom: solid 1px #eee;
	padding: 42px 22px;
	margin: 80px 0 132px 0;
}
.callout {
	padding: 35px 0;
	margin-top: 64px;
	text-align: center;
	border: 1px solid #e3e3e3;
	border-right: none;
	border-left: none;
}
.callout .glyphicon {
	margin-left: 10px;
}
.teacher-desc strong {
	display: block;
}
.th-copy {
	padding-top: 30px;
}